.area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: -webkit-fill-available;
  padding: 50px;
}

.sub-area {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

