/* Bars */

.bars-1 {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: b1 1s infinite linear;
}
@keyframes b1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.bars-2 {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  animation: b2 1s infinite linear;
}
@keyframes b2 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%;
  }
  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%;
  }
  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%;
  }
  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.bars-3 {
  width: 45px;
  aspect-ratio: 1;
  background: linear-gradient(
        #0000 calc(1 * 100% / 6),
        currentColor 0 calc(3 * 100% / 6),
        #0000 0
      )
      left bottom,
    linear-gradient(
        #0000 calc(2 * 100% / 6),
        currentColor 0 calc(4 * 100% / 6),
        #0000 0
      )
      center bottom,
    linear-gradient(
        #0000 calc(3 * 100% / 6),
        currentColor 0 calc(5 * 100% / 6),
        #0000 0
      )
      right bottom;
  background-size: 20% 600%;
  background-repeat: no-repeat;
  animation: b3 1s infinite linear;
}
@keyframes b3 {
  100% {
    background-position: left top, center top, right top;
  }
}

.bars-4 {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat
    linear-gradient(#000 calc(50% - 10px), #0000 0 calc(50% + 10px), #000 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 20% calc(200% + 20px);
  animation: b4 1s infinite linear;
}
@keyframes b4 {
  33% {
    background-position: 0% 50%, 50% 100%, 100% 100%;
  }
  50% {
    background-position: 0% 0%, 50% 50%, 100% 100%;
  }
  66% {
    background-position: 0% 0%, 50% 0%, 100% 50%;
  }
  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

.bars-5 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: b5 1s infinite linear;
}
@keyframes b5 {
  20% {
    background-position: 0% 50%, 50% 100%, 100% 100%;
  }
  40% {
    background-position: 0% 0%, 50% 50%, 100% 100%;
  }
  60% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  80% {
    background-position: 0% 100%, 50% 100%, 100% 0%;
  }
}

.bars-6 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: b6 1s infinite linear;
}
@keyframes b6 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.bars-7 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: b7 1s infinite linear alternate;
}
@keyframes b7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}

.bars-8 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: b8 1s infinite linear;
}
@keyframes b8 {
  16.67% {
    background-position: 0% 0%, 50% 100%, 100% 100%;
  }
  33.33% {
    background-position: 0% 0%, 50% 0%, 100% 100%;
  }
  50% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
  66.67% {
    background-position: 0% 100%, 50% 0%, 100% 0%;
  }
  83.33% {
    background-position: 0% 100%, 50% 100%, 100% 0%;
  }
}

.bars-9 {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 60%;
  animation: b9 1s infinite;
}
@keyframes b9 {
  33% {
    background-position: 0% 0%, 50% 100%, 100% 0%;
  }
  66% {
    background-position: 0% 100%, 50% 0%, 100% 100%;
  }
}

.bars-10 {
  height: 45px;
  aspect-ratio: 1.2;
  --c: no-repeat repeating-linear-gradient(90deg, #000 0 20%, #0000 0 40%);
  background: var(--c) 50% 0, var(--c) 50% 100%;
  background-size: calc(500% / 6) 50%;
  animation: b10 1s infinite linear;
}
@keyframes b10 {
  33% {
    background-position: 0 0, 100% 100%;
  }
  66% {
    background-position: 0 100%, 100% 0;
  }
  100% {
    background-position: 50% 100%, 50% 0;
  }
}

/* Spinner */
.spinner-1 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: s1 1s infinite;
}
@keyframes s1 {
  to {
    transform: rotate(0.5turn);
  }
}

.spinner-2 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

.spinner-3 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.spinner-4 {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

.spinner-5 {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}
@keyframes s5 {
  to {
    transform: rotate(0.5turn);
  }
}

.spinner-6 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #ffa516 95%, #0000) 50% 0/12px 12px
      no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 5px),
        #ffa516 calc(100% - 4px)
      )
      content-box;
  animation: s6 2s infinite;
}
@keyframes s6 {
  to {
    transform: rotate(1turn);
  }
}

.spinner-7 {
  width: 50px;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}

.spinner-8 {
  width: 50px;
  aspect-ratio: 1;
  color: #f03355;
  --_c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background: var(--_c) 50% 0 /12px 12px, var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px, var(--_c) 0 50%/12px 12px,
    var(--_c) 50% 50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px /
      calc(50% + 2px) calc(50% + 2px);
  animation: s8 1s infinite linear;
}
@keyframes s8 {
  to {
    transform: rotate(0.5turn);
  }
}

.spinner-9 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px
      12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: s9 2s infinite linear;
}
@keyframes s9 {
  to {
    transform: rotate(1turn);
  }
}

.spinner-10 {
  width: 50px;
  aspect-ratio: 1;
  color: #854f1d;
  border-radius: 50%;
  display: grid;
  background: conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px /
      calc(50% + 2px) calc(50% + 2px),
    radial-gradient(
        farthest-side,
        currentColor 6px,
        #0000 7px calc(100% - 6px),
        currentColor calc(100% - 5px)
      )
      no-repeat;
  animation: s10 2s infinite linear;
  position: relative;
}
.spinner-10:before {
  content: "";
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes s10 {
  to {
    transform: rotate(0.5turn);
  }
}

.continuous-1 {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: ct1 1s infinite linear;
}

@keyframes ct1 {
  0% {
    background-position: right;
  }
}

.continuous-2 {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0000, orange) left -50px top 0/50px 20px no-repeat
    lightblue;
  animation: ct2 1s infinite linear;
}

@keyframes ct2 {
  100% {
    background-position: right -50px top 0;
  }
}

.continuous-3 {
  width: 120px;
  height: 20px;
  transform: skewX(-45deg);
  background: linear-gradient(#f03355 0 0) left -30px top 0/30px 20px no-repeat #ccc;
  animation: ct3 1s infinite linear;
}

@keyframes ct3 {
  100% {
    background-position: right -30px top 0;
  }
}

.continuous-4 {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.continuous-4::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: ct4 1s infinite linear;
}

@keyframes ct4 {
  100% {
    left: calc(100% + 20px);
  }
}

.continuous-5 {
  width: 120px;
  height: 20px;
  background: linear-gradient(#25b09b 0 0) left -40px top 0/40px 20px,
    linear-gradient(#ddd 0 0) center/100% 50%;
  background-repeat: no-repeat;
  animation: ct5 1s infinite linear;
}

@keyframes ct5 {
  100% {
    background-position: right -40px top 0, center;
  }
}

.continuous-6 {
  width: 120px;
  height: 20px;
  background: radial-gradient(circle 10px, #000 95%, #0000) right /
      calc(200% + 20px) 100%,
    linear-gradient(#000 0 0) center/100% 6px;
  background-repeat: no-repeat;
  -webkit-mask: radial-gradient(circle 4px, #0000 93%, #000)
    right/calc(200% + 20px) 100%;
  animation: ct6 1s infinite linear;
}

@keyframes ct6 {
  100% {
    background-position: left;
    -webkit-mask-position: left;
  }
}

.continuous-7 {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
  animation: ct7 1s infinite steps(6);
}
@keyframes ct7 {
  100% {
    background-position: right -25% top 0;
  }
}

.continuous-8 {
  width: 40px;
  height: 40px;
  background: linear-gradient(
      to bottom right,
      #0000 calc(50% - 40px),
      #fff 50%,
      #0000 calc(50% + 40px)
    )
    bottom right/calc(200% + 80px) calc(200% + 80px) orange;
  animation: ct8 1s infinite;
}
@keyframes ct8 {
  100% {
    background-position: top left;
  }
}

.continuous-9 {
  width: 120px;
  height: 20px;
  background: radial-gradient(circle closest-side, #f03355 94%, #0000) 50% 50% /
    calc(50% + 10px) 70% repeat-x #ccc;
  animation: ct9 1s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes ct9 {
  100% {
    background-position: calc(200% - 5px);
  }
}

.continuous-10 {
  width: 120px;
  height: 20px;
  background: linear-gradient(#514b82 0 0) left -40px top 0/40px 100% no-repeat #eee;
  -webkit-mask: linear-gradient(#000 0 0) top / 100% 5px no-repeat,
    linear-gradient(#000 0 0) bottom/100% 5px no-repeat,
    repeating-linear-gradient(90deg, #000 0 5px, #0000 0 20%)
      left/calc(100% - 5px) 100%;
  animation: ct10 1s infinite linear;
}

@keyframes ct10 {
  100% {
    background-position: right -40px top 0;
  }
}

.progress-1 {
  width: 120px;
  height: 20px;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: p1 2s infinite linear;
}
@keyframes p1 {
  100% {
    background-size: 100%;
  }
}

.progress-2 {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: p2 2s infinite steps(10);
}
@keyframes p2 {
  100% {
    background-size: 110%;
  }
}

.progress-3 {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px)
      0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
  animation: p3 2s infinite;
}
@keyframes p3 {
  100% {
    background-size: 100%;
  }
}

.progress-4 {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: p4 2s infinite steps(6);
}
@keyframes p4 {
  100% {
    background-size: 120%;
  }
}

.progress-5 {
  width: 80px;
  height: 40px;
  border: 2px solid currentColor;
  border-right-color: transparent;
  padding: 3px;
  background: repeating-linear-gradient(
      90deg,
      currentColor 0 10px,
      #0000 0 15px
    )
    0/0% no-repeat content-box content-box;
  position: relative;
  animation: p4 2s infinite steps(6);
}
.progress-5::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 100%;
  width: 10px;
  background: linear-gradient(
        #0000 calc(50% - 7px),
        currentColor 0 calc(50% - 5px),
        #0000 0 calc(50% + 5px),
        currentColor 0 calc(50% + 7px),
        #0000 0
      )
      left / 100% 100%,
    linear-gradient(
        currentColor calc(50% - 5px),
        #0000 0 calc(50% + 5px),
        currentColor 0
      )
      left / 2px 100%,
    linear-gradient(
        #0000 calc(50% - 5px),
        currentColor 0 calc(50% + 5px),
        #0000 0
      )
      right/2px 100%;
  background-repeat: no-repeat;
}
@keyframes p5 {
  100% {
    background-size: 120%;
  }
}

.progress-6 {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
.progress-6::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: p6 2s infinite;
}
@keyframes p6 {
  100% {
    inset: 0;
  }
}

.progress-7 {
  width: 120px;
  height: 24px;
  -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) 0 0/25%
      100%,
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px)
      no-repeat;
  background: linear-gradient(#25b09b 0 0) 0/0% no-repeat #ddd;
  animation: p7 2s infinite linear;
}
@keyframes p7 {
  100% {
    background-size: 100%;
  }
}

.progress-8 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background: linear-gradient(#f03355 0 0) bottom/100% 0% no-repeat #ddd;
  animation: p8 2s infinite steps(7);
}
@keyframes p8 {
  100% {
    background-size: 100% 115%;
  }
}

.progress-9 {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: p9 2s infinite linear;
}
@keyframes p9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.progress-10 {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(
    farthest-side at bottom,
    #0000 0,
    #000 1px 12%,
    #0000 calc(12% + 1px) 20%
  );
  background: radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0)
    bottom/0% 0% no-repeat #ddd;
  animation: p10 2s infinite steps(6);
}
@keyframes p10 {
  100% {
    background-size: 120% 120%;
  }
}

.shapes-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: sh1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh1 {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
}

.shapes-2 {
  width: 40px;
  height: 40px;
  background: #25b09b;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  animation: sh2 2s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh2 {
  25% {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }
  75% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 0);
  }
}

.shapes-3 {
  width: 50px;
  height: 50px;
  display: flex;
  transform: rotate(45deg);
  animation: sh3-0 1.5s infinite linear;
}
.shapes-3:before,
.shapes-3:after {
  content: "";
  width: 50%;
  background: #514b82;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  animation: inherit;
  animation-name: sh3-1;
}
.shapes-3:after {
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
  animation-name: sh3-2;
}
@keyframes sh3-0 {
  25% {
    width: 50px;
    height: 50px;
    transform: rotate(0);
  }
  50% {
    width: 50px;
    height: 50px;
  }
  75% {
    width: 70.7px;
    height: 35.35px;
  }
  100% {
    width: 70.7px;
    height: 35.35px;
    transform: rotate(0);
  }
}
@keyframes sh3-1 {
  0%,
  25% {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    transform: translate(0.3px);
  }
  50% {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    transform: translate(-5px);
  }
  75% {
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    transform: translate(-5px);
  }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    transform: translate(17.7px);
  }
}
@keyframes sh3-2 {
  0%,
  25% {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: translate(-0.3px);
  }
  50% {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transform: translate(5px);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    transform: translate(5px);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    transform: translate(-17.7px);
  }
}

.shapes-4 {
  width: 40px;
  height: 40px;
  color: #f03355;
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  animation: sh4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shapes-5 {
  width: 40px;
  height: 40px;
  color: orange;
  background: linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

.shapes-6 {
  width: 40px;
  height: 40px;
  display: grid;
  animation: sh6-0 1.5s infinite linear;
}
.shapes-6:before,
.shapes-6:after {
  content: "";
  grid-area: 1/1;
  background: #514b82;
  animation: sh6-1 1.5s infinite linear, sh6-2 1.5s infinite linear;
}
.shapes-6:after {
  --s: -1;
  animation-direction: reverse;
}

@keyframes sh6-0 {
  0%,
  9%,
  91%,
  100% {
    background: #514b82;
  }
  10%,
  90% {
    background: #0000;
  }
}
@keyframes sh6-1 {
  0%,
  33% {
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
  }
  66%,
  100% {
    clip-path: polygon(50% 0, 50% 100%, 50% 0, 100% 100%, 0 100%);
  }
}
@keyframes sh6-2 {
  0%,
  10%,
  90%,
  100% {
    transform: scale(var(--s, 1)) translateY(0);
  }
  33%,
  66% {
    transform: scale(var(--s, 1)) translateY(50%);
  }
}

.shapes-7 {
  width: 40px;
  height: 40px;
  color: #f03355;
  position: relative;
  background: conic-gradient(from 134deg at top, currentColor 92deg, #0000 0)
      top,
    conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.shapes-7:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(
      from -135deg at top 0 left 22px,
      #0000,
      currentColor 1deg 90deg,
      #0000 0
    ),
    conic-gradient(
      from -45deg at right 0 top 22px,
      #0000,
      currentColor 1deg 90deg,
      #0000 0
    ),
    conic-gradient(
      from 45deg at bottom 0 right 22px,
      #0000,
      currentColor 1deg 90deg,
      #0000 0
    ),
    conic-gradient(
      from 135deg at left 0 bottom 20px,
      #0000,
      currentColor 1deg 90deg,
      #0000 0
    );
  animation: sh7 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh7 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.shapes-8 {
  width: 40px;
  height: 40px;
  display: grid;
  animation: sh8-0 1.5s infinite linear;
}
.shapes-8:before,
.shapes-8:after {
  content: "";
  grid-area: 1/1;
  background: #25b09b;
  clip-path: polygon(0 0%, 100% 0, 100% 100%);
  animation: inherit;
  animation-name: sh8-1;
}
.shapes-8:after {
  --s: -1;
}
@keyframes sh8-0 {
  66% {
    transform: skewX(0deg);
  }
  80%,
  100% {
    transform: skewX(-45deg);
  }
}
@keyframes sh8-1 {
  0% {
    transform: scale(var(--s, 1)) translate(-0.5px, 0);
  }
  33% {
    transform: scale(var(--s, 1)) translate(calc(1px - 50%), calc(1px - 50%));
  }
  66% {
    transform: scale(var(--s, 1)) translate(calc(1px - 50%), 0%);
  }
  100% {
    transform: scale(var(--s, 1)) translate(calc(0.5px - 50%), 0%);
  }
}

.shapes-9 {
  width: 40px;
  height: 20px;
  background: orange;
  position: relative;
  animation: sh9-0 1.5s infinite linear;
}
.shapes-9:before,
.shapes-9:after {
  content: "";
  position: absolute;
  background: inherit;
  bottom: 100%;
  width: 50%;
  height: 100%;
  animation: inherit;
  animation-name: sh9-1;
}
.shapes-9:before {
  left: 0;
  transform-origin: bottom left;
  --s: -1;
}
.shapes-9:after {
  right: 0;
  transform-origin: bottom right;
}
@keyframes sh9-0 {
  0%,
  10% {
    transform: translateY(0%) scaleY(1);
  }
  49.99% {
    transform: translateY(-50%) scaleY(1);
  }
  50% {
    transform: translateY(-50%) scaleY(-1);
  }
  90%,
  100% {
    transform: translateY(-100%) scaleY(-1);
  }
}
@keyframes sh9-1 {
  10%,
  90% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(calc(var(--s, 1) * 180deg));
  }
}

.shapes-10 {
  display: flex;
  width: 50px;
  height: 50px;
  animation: sh10-0 1.5s infinite linear;
}
.shapes-10:before,
.shapes-10:after {
  content: "";
  width: 50%;
  background: #514b82;
  clip-path: polygon(0 0, 100% 50%, 0% 100%);
  animation: inherit;
  animation-name: sh10-1;
  transform-origin: bottom left;
}
.shapes-10:before {
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  transform-origin: bottom right;
  --s: -1;
}

@keyframes sh10-0 {
  0%,
  34.99% {
    transform: scaley(1);
  }
  35%,
  70% {
    transform: scaley(-1);
  }
  90%,
  100% {
    transform: scaley(-1) rotate(180deg);
  }
}

@keyframes sh10-1 {
  0%,
  10%,
  70%,
  100% {
    transform: translateY(-100%) rotate(calc(var(--s, 1) * 135deg));
  }
  35% {
    transform: translateY(0%) rotate(0deg);
  }
}

.pulsing-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: pl1 1s infinite;
}
@keyframes pl1 {
  100% {
    box-shadow: 0 0 0 30px #0000;
  }
}

.pulsing-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: pl2 1.5s infinite linear;
  position: relative;
}
.pulsing-2:before,
.pulsing-2:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.pulsing-2:after {
  animation-delay: -1s;
}
@keyframes pl2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}

.pulsing-3 {
  width: 50px;
  height: 50px;
  color: #dc1818;
  background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%)
      top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.pulsing-3:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pl3 1s infinite;
}
@keyframes pl3 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.pulsing-4 {
  width: 60px;
  height: 60px;
  position: relative;
}
.pulsing-4:before,
.pulsing-4:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: radial-gradient(circle 10px, #f85c00 94%, #0000),
    repeating-conic-gradient(from -30deg, #0000 0 60deg, #f85c00 61deg 120deg);
  -webkit-mask: radial-gradient(
    circle 15px,
    #000 calc(100% - 6px),
    #0000 calc(100% - 5px) 94%,
    #000
  );
}

.pulsing-4:after {
  animation: pl4 1s infinite;
  transform: perspective(300px) translateZ(0px);
}

@keyframes pl4 {
  to {
    transform: perspective(300px) translateZ(150px);
    opacity: 0;
  }
}

.pulsing-5 {
  width: 80px;
  height: 80px;
  position: relative;
}
.pulsing-5:before,
.pulsing-5:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffb940;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.pulsing-5:after {
  animation: pl5 1s infinite;
  transform: perspective(300px) translateZ(0px);
}

@keyframes pl5 {
  to {
    transform: perspective(300px) translateZ(150px);
    opacity: 0;
  }
}

.pulsing-6 {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(45deg);
}
.pulsing-6:before,
.pulsing-6:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #514b82;
  -webkit-mask: radial-gradient(circle 10px at 50% 50%, #0000 94%, #000);
}

.pulsing-6:after {
  animation: pl6 1s infinite;
  transform: perspective(300px) translateZ(0px);
}

@keyframes pl6 {
  to {
    transform: perspective(300px) translateZ(150px);
    opacity: 0;
  }
}

.pulsing-7 {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side, currentColor 96%, #0000);
  background: var(--c) 100% 100% /30% 60%, var(--c) 70% 0 /50% 100%,
    var(--c) 0 100% /36% 68%, var(--c) 27% 18% /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}

.pulsing-7:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pl7 1s infinite;
}
@keyframes pl7 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.pulsing-8 {
  width: 65px;
  height: 117px;
  position: relative;
}
.pulsing-8:before,
.pulsing-8:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ff8001;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(
    100% 0,
    23% 46%,
    46% 44%,
    15% 69%,
    38% 67%,
    0 100%,
    76% 57%,
    53% 58%,
    88% 33%,
    60% 37%
  );
}

.pulsing-8:after {
  animation: pl8 1s infinite;
  transform: perspective(300px) translateZ(0px);
}

@keyframes pl8 {
  to {
    transform: perspective(300px) translateZ(180px);
    opacity: 0;
  }
}
.pulsing-9 {
  width: 100px;
  height: 45px;
  position: relative;
}
.pulsing-9:before,
.pulsing-9:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(
    -50px -20px,
    10% -12px,
    20% 0,
    calc(50% - 15px) 0,
    calc(50% - 10px) -20px,
    calc(50% - 8px) -15px,
    calc(50% + 8px) -15px,
    calc(50% + 10px) -20px,
    calc(50% + 15px) 0,
    80% 0,
    90% -12px,
    calc(100% + 50px) -20px,
    100% 80%,
    calc(100% + 10px) calc(100% + 10px),
    60% 100%,
    50% calc(100% + 15px),
    40% 100%,
    -10px calc(100% + 10px),
    0 80%
  );
}

.pulsing-9:after {
  animation: pl9 1s infinite;
  transform: perspective(300px) translateZ(0px);
}

@keyframes pl9 {
  to {
    transform: perspective(300px) translateZ(100px);
    opacity: 0;
  }
}

.pulsing-10 {
  display: grid;
  font-size: 50px;
}
.pulsing-10:before,
.pulsing-10:after {
  content: attr(data-c);
  grid-area: 1/1;
}

.pulsing-10:after {
  animation: pl10 1s infinite;
}

@keyframes pl10 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/**/
/* body {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 130px;
    place-items:center;
  }
  
  * {
    box-sizing: border-box;
  } */

body {
    display: block;
    margin: 0 auto;
    height: 94vh;
}